<!--jscolor-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>

<div class="row">
   
     <div class="col minHeight_40">
	  <label class="height_30 minWidth_70 color_white">Satellites</label>
	  <img src='C:\Proyectos\tracking\tracking_get\iconos\xlsx_24.png'></img>
	 </div>	   
     
	 <div class="col minWidth_240 minHeight_40">
	   <select id="satSel">			
		</select>
	
	</div>
   
   </div>	
   
   
  <div class="row">
    
	<div class="col  minHeight_40" >
	  <label  class="height_30 minWidth_70 color_white">Start date</label>
	  <img src='C:\Proyectos\tracking\tracking_get\iconos\info2_24.png' data-toggle="tooltip" data-placement="top" title="The minimun starting point depends on each satellite"></img>
	</div>	   


	<div class="col minWidth_240 minHeight_40">		
	  <input type="text" id="startDateDatepicker" class="width_100">		
	</div>	
	
   </div>	  
   
   <div class="row">
   
     <div class="col  minHeight_40">
	  <label  class="height_30 minWidth_70 color_white">Start hour</label>
	  <img src='C:\Proyectos\tracking\tracking_get\iconos\info2_24.png' data-toggle="tooltip" data-placement="top" title="The minimun starting point depends on each satellite"></img>
	 </div>	   
     
	 <div class="col minWidth_240 minHeight_40">
	
	  <input type="text" class="form-control height_30 timePicker" id="startHourTimepicker" name="timeFormat" ng-model="model.options.timeFormat">
	
	</div>
   
   </div>	
	
   <div class="row">
    
	<div class="col  minHeight_40">
	  <label  class="height_30 minWidth_70 color_white">End date</label>
	  <img src='C:\Proyectos\tracking\tracking_get\iconos\info2_24.png' data-toggle="tooltip" data-placement="top" title="The maximun end point depends on each satellite"></img>
	</div>
	


	<div class="col minWidth_240 minHeight_40">		
	  <input type="text" id="endDateDatepicker" class="width_100">		
	</div>	
	
   </div>	  
   
   <div class="row">
   
     <div class="col  minHeight_40">
	  <label  class="height_30 minWidth_70 color_white">End hour</label>
	  <img src='C:\Proyectos\tracking\tracking_get\iconos\info2_24.png' data-toggle="tooltip" data-placement="top" title="The maximun end end point depends on each satellite"></img>
	 </div>	   
     
	 <div class="col minWidth_240 minHeight_40">
	
	  <input type="text" class="form-control height_30 timePicker" id="endHourTimepicker" name="timeFormat" ng-model="model.options.timeFormat">
	
	</div>
   
   </div>
   
   <div class="row">
   
     <div class="col minHeight_40">
	  <label  class="height_30 minWidth_70 color_white">Color</label>
	  <img src='C:\Proyectos\tracking\tracking_get\iconos\info2_24.png' data-toggle="tooltip" data-placement="top" title="Orbit color"></img>
	 </div>	   
     
	 <div class="col minWidth_240 minHeight_40 color_white">
	     <input id="inputColor" class="jscolor colorSize" value="094BAB">
	 </div>
	
   
   </div>	
   
   <div class="row">
   
     <div class="col  minHeight_40">
	  <label  class="height_30 minWidth_70 color_white">Orbit type</label>
	  <img src='C:\Proyectos\tracking\tracking_get\iconos\info2_24.png' data-toggle="tooltip" data-placement="top" title="Orbit or Projection on the Earth"></img>
	 </div>	   
     
	 <div class="col minWidth_240 minHeight_40">
	   <select id="orbitType">
			<option value="1">Orbit</option>        
			<option value="2">Projection</option>			
		</select>
	
	</div>
   
   </div>	
   
   
   <div class="row">
   
     <div class="col  minHeight_40">
	  <button id="clean" type="button" class="height_30 cesium-button">Clean All</button>
	 </div>	   
     
	 <div class="col minWidth_240 minHeight_40">	   
	   <button id="add" type="button" class="height_30 cesium-button">Add to map</button>
	
	</div>   
   </div>	
